<nav class="grey darken-3">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/stories" class="brand-logo center">StoryBooks</a>
            <a href="#" data-activates="main-menu" class="button-collapse show-on-large"><i class="fa fa-bars"></i></a>
            <div class="right hide-on-small-only">
                <% if (user) { %>
                    <a href="/dashboard">Welcome <%= user.firstName %></a>
                    <a href="/auth/logout"><i class="fa fa-sign-out"></i>Logout</a>
                <% } else if(!user) { %>
                    <a href="/stories"><i class="fa fa-book"></i>Public Stories</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>